* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    font-family: 'Public Sans', sans-serif;
    font-family: 'Questrial', sans-serif;
}

header {
    background-image: linear-gradient(45deg, rgb(31, 156, 154), rgb(38, 202, 189));
    grid-area: header;
}

main {
    grid-area: main;
    background-image: url(../imagenes/fondoweb3.jpg);
    
}

footer {
    grid-area: footer;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.3;
}

ul {
    display: flex;
    list-style-type: none;
}

span {
    display: none;
}

.container {
    max-width: 1700px;
    margin: 0px;
}

.header {
    color: rgb(240, 240, 243);
    padding: 20px 20px;
    display: flex; flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    

}

.content__title {
    color: rgb(245, 247, 249);
    font-size: 40px;
    display: inline
    
}

.content__title:hover {
    color: rgb(197, 243, 254);
}

.content__navbar { 
    flex-direction: row;
    align-items: flex-end;

}

.content__navbar li {
    margin: 0 25px;

}

.content__navbar li a {
    color: aliceblue;
    font-weight: bold;
}

.content__navbar li:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
}

.content__img {
    width: 100px;
    height: 100px;
}

.gridcontenthome {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 50px;
    justify-items: center;
       
}



.cardhome__img1 {
    margin-top: 70px;
    margin-left: 0px;
    margin-right: 30px;
    width: 950px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.4);

}

.cardhome__img1:hover {
    transform: translateY(15px);
    transition: transform 0.5s;
}


.cardhome__logo {
    position: relative;
    margin-left: 150px;
    margin-right: 110px;
}

.cardhome__title {
    margin-left: 150px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 83, 96);
    text-shadow: 0.1em 0.1em 0.2em;
    
}

.cardhome__description {
    display: flex;
    background-color: aliceblue;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    font-size: large;

}

.cardhome__description:hover {
    transform: translateX(-15px);
    transition: transform 0.3s;
}

.gridcontenthome2 {
    margin-top: 20px;
    display: grid;
    margin: 20px;
}

.cardhome__title2 {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    position: relative;
    right: 100px;
}

.cardhome__title2 h2 {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    color: rgb(88, 129, 114);
}

.cardhome__title3 {
    font-weight: bold;
    display: flex;
    justify-content: start;
    font-size: 20px;
    top: 30px;
    position: relative;
    left: 100px;
    width: 600px;
    
}

.cardhome__title3 h2 {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    color: rgb(88, 129, 114);
}

.cardhome__img2{
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.cardhome__img2:hover {
    transform: translateY(-15px);
    transition: transform 0.5s;
} 

.cardhome__button {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: rgb(53, 87, 88);
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 850px;
    top: -100px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.cardhome__button:hover {
    background-color: rgb(91, 240, 198);
}

.gridcontacto {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: 30px;
    margin-left: 10px;
    
}

.cardcontacto__img {
    margin: 10px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.cardcontacto__img:hover {
    transform: translateX(-5px);
    transition: transform 0.3s;
}

.cardcontacto__form {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}

.cardcontacto__form--1 {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 40px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.cardcontacto__form--1:hover {
    transform: translateX(-5px);
    transition: transform 0.3s;
    background-color: rgb(216, 241, 244);
}

.cardcontacto__form--2 {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 40px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.cardcontacto__form--2:hover {
    transform: translateX(-5px);
    transition: transform 0.3s;
    background-color: rgb(216, 241, 244);
}

.cardcontacto__form--3 {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 300px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.cardcontacto__form--3:hover {
    transform: translateX(-5px);
    transition: transform 0.3s;
    background-color: rgb(216, 242, 246);
}

.cardcontacto__espacios {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-evenly;
}

.cardcontacto__title {
    font-weight: bold;
    font-size: 30px;
    margin-left: 0px;
}

.cardcontacto__title2 {
    display: flex;
    font-weight: 100;
    justify-content: start;
    margin-top: 0;
}

.cardcontacto__form--button {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);

}

.cardcontacto__form--button:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
    background-color: rgb(54, 156, 167);
    color: rgb(255, 255, 255);
}

.gridcontentservicios {
    display: grid;
}

.cardservicios__diseñamos:hover {
    transform: translateY(-15px);
    transition: transform 0.3s;
}

.cardservicios__impresion:hover {
    transform: translateY(-15px);
    transition: transform 0.3s;
} 

.cardservicios__envios:hover {
    transform: translateY(-15px);
    transition: transform 0.3s;
}

.serviciostitle {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -20px;

}

.serviciostitle__1 {
    font-weight: 100;
    font-size: 25px;

}


.serviciostitle__2 {
    font-weight: bold;
    font-size: 30px;
}


.cardservicios {
    display: grid;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;

    

}


.cardservicios__diseñamos {
    position: relative;
    max-width: 300px;
    max-height: 400px;
    background-color: rgb(255, 255, 255);
    height: 400px;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.cardservicios__diseñamos--img {
    width: 95%;
    border-radius: 10px;
    margin: 0px;
    
}

.cardservicios__diseñamos--title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.cardservicios__diseñamos--text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.cardservicios__impresion {
    position: relative;
    max-width: 300px;
    max-height: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.cardservicios__impresion--img {
    width: 60%;
    position: relative;
    left: 50px;
    border-radius: 10px;
    margin: 0px;
}

.cardservicios__impresion--title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.cardservicios__impresion--text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.cardservicios__envios {
    position: relative;
    max-width: 300px;
    max-height: 400px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.cardservicios__envios--img {
    width: 70%;
    position: relative;
    left: 35px;
    border-radius: 10px;
    margin: 0px;
}

.cardservicios__envios--title {
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}

.cardservicios__envios--text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





.gridcontenttrabajo {
    display: grid;
}

.cardtrabajo__title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cardtrabajo__title h3 {
    font-weight: 100;
    font-size: 25px;
}

.cardtrabajo__title h2 {
    font-weight: bold;
    font-size: 30px;
}

.cardtrabajo__imgs {
    display: grid;
    max-width: auto;
    grid-template-columns: repeat(2, 2fr);
    margin: 20px;
    gap: 20px;
}

.cardtrabajo__imgs--1 {
    display: flex;
}

.cardtrabajo__imgs--1 img {
    width: 100%;
    border-radius: 10px;

}

.cardtrabajo__imgs--2 {
    display: flex;
}

.cardtrabajo__imgs--2 img {
    width: 100%;
    border-radius: 10px;
}


.cardtrabajo__imgs--3 {
    display: flex;
    justify-content: end;
    width: auto;
    
}

.cardtrabajo__imgs--3 img {
    width: 70%;
    border-radius: 10px;

}

.cardtrabajo__imgs--4 {
    display: flex;
    width: auto;
    justify-content: start;
}

.cardtrabajo__imgs--4 img {
    width: 45%;
    border-radius: 10px;

}


.gridcontentnosotros {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    max-width: auto;
}

.cardnosotros__img {
    
    

}

.cardnosotros__img img {
    max-width: auto;
    width: 90%;
    height: 380px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 30px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);

}

.cardnosotros__img img:hover {
    transform: translateY(15px);
    transition: transform 0.5s;
}

.cardnosotros__title {
    display: grid;
    max-width: 100%;
    margin: 60px;
    margin-top: 50px;

}

.cardnosotros__title p {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    line-height: 1.4;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.cardnosotros__title p:hover {
    transform: translateX(15px);
    transition: transform 0.4s;
    background-color: aliceblue;
}



.cardnosotros__title--text h3 {
    font-weight: 100;
}

.cardnosotros__title--text h2 {
    font-weight: bold;
    font-size: 30px;
}

.cardnosotros__video iframe {
    margin-top: 100px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);

    
}

.cardnosotros__video iframe:hover {
    transform: translateY(-15px);
    transition: transform 0.4s;
}


.cardfooter {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-image: linear-gradient(45deg, rgb(112, 238, 217), rgb(255, 255, 255));
    
}


.cardfooter__redes--text {
    position: relative;
    right: 90px;
    max-width: auto;
    
}

.cardfooter__links{
    margin-left: 10px;
    display: flex;
    flex-flow: column;

}

.cardfooter__redes:hover {
    transform: translateY(-5px);
    transition: transform 0.4s;
}

.cardfooter__prueba {
    background-color: rgb(39, 213, 213);
}





@media (max-width: 1080px) {
    
    .header {
        
    }

    .gridcontenthome {
        grid-template-columns: 1fr;
    }
    .cardhome__button {
        position: absolute;
    }
    .gridcontenthome2 {
        grid-template-columns: 1fr;
    }

    .gridcontentnosotros {
        grid-template-columns: 1fr;

    }



    .cardhome__title2 {
        display: flex;
        justify-content: start;
        margin-left: 200px;
        top: 0px;

    }

    .cardhome__img1 {
        transform: scale(0.9)
        
    }

    .cardhome__img2 {
        transform: scale(0.9);
        
    }

    .cardhome__button {
        position: relative;
        left: 280px;
        top: -30px;
    }

    .gridcontacto {
        width: auto;

        margin-right: 100px;
        grid-template-columns: 1fr;
        transform: scale(0.9)
    }
}

@media (max-width: 480px) {
    ul {
        display: none;
    }

    span {
        display: inline-block;
        
    }

    .cardhome {
        
    }

    .cardservicios {
        grid-template-columns: 1fr;
    }

    .cardtrabajo__imgs {
        grid-template-columns: 1fr;
    }
}